name: Go

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:

  build:
    name: Build Linux
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-20.04, macos-10.15, windows-2019]
    steps:

    - name: Set up Go 1.x
      uses: actions/setup-go@v2
      with:
        go-version: ^1.14
      id: go

    - name: Check out code into the Go module directory
      uses: actions/checkout@v2

    - name: Get dependencies
      run: |
        go mod vendor

    - name: Build
      run: go build -v -o ./bin/grpcox .

    - name: Test
      run: go test -v .

    - name: Upload bin
      uses: actions/upload-artifact@v2
      env:
        GOOS: $(go env GOOS)
      with:
        name: grpcox-${{ env.GOOS }}
        path: ./bin
